body{
  margin: 0% 8% 0% 8%;
  text-align: center;;
}

.Panel{
  padding: 0% 0% 25% 0%;
  margin: 0 15px 0 15px ;
  width: 43%;

}

#leftPanel{
  float: left;
  display: inline-block;

}

.DataPanelContent{
  padding: 5px 5px 5px 5px;
}

.Counter{
  font-size:1.6em;
  color:red;

}

#rightPanel{
  float: right;
  display: inline-block;
}

#dataPanelLeft{
  float: left;
  width:200px;
  border: solid 1px;
}

#dataPanelRight{
  float: right;
  width: 200px;;
  border: solid 1px;
}

#monitorLeft{
    float: right;;
}
#monitorRight{
  float: left;
}

.Monitor{
    margin: 0 0 0 0 ;
    padding: 0 15px 0 15px ;
}

.monitorGrid{
  vertical-align: top;
		height: 35px;
		width: 35px;
		display: inline-block;
		margin: 0px;
		border: solid 1px;
}
