body{
  margin: 0% 8% 0% 8%;
  text-align: center;;
}
p{
	margin: 5px 5px 5px 5px;
}

.Panel{
  padding: 0% 0% 25% 0%;
  margin: 0 15px 0 15px ;
  width: auto;

}

#leftPanel{
  float: left;
  display: inline-block;

}

.DataPanelContent{
  padding: 5px 5px 5px 5px;
}

.Counter{
  font-size:1.4em;
  color:red;

}

.ShipIcons{
	width:240px;
	height:auto;
}
.ShipIcons:hover{
	width:240px;
	height:auto;
	cursor: pointer;
}
#rightPanel{
  float: right;
  display: inline-block;
}

#dataPanelLeft{
  float: left;
  width:250px;
	height: auto;
  border: solid 1px;
}

#dataPanelRight{
  float: right;
  width: 250px;;
	height: auto;
  border: solid 1px;
}

#monitorLeft{
    float: right;;
}
#monitorRight{
  float: left;
}

.Monitor{
    margin: 0 0 0 0 ;
    padding: 0 15px 0 15px ;
}

.monitorGrid{
  vertical-align: top;
		height: 35px;
		width: 35px;
		display: inline-block;
		margin: 0px;
		border: solid 1px;
}
